.header__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

/* @media screen and (max-width: 360px) {
    .header__search {
        flex-direction: column;
        max-width: 360px;
        margin-bottom: 34px;
    }
} */