   .content__container_paragraph {
       font-family: "Tenor Sans";
       font-size: 18px;
       line-height: 24px;
       color: rgba(255, 255, 255, 1);
       max-width: 639px;
       margin: 0;
   }

    @media screen and (max-width: 360px) {
     .content__container_paragraph {
         font-size: 14px;
         line-height: 19px;
     }
 }