   .header__search_icon-massager-telegram {
       background-image: url(/image/telegram.svg);
       background-size: 24px 24px;
       background-position: center;
       background-repeat: no-repeat;
       background-color: rgba(244, 244, 244, 1);
       border-radius: 4px;
       width: 48px;
       height: 48px;
   }

   .header__search_icon-massager-telegram:hover {
    background-color: rgba(212, 217, 221, 1);
   }

     @media screen and (max-width: 360px) {
    .header__search_icon-massager-telegram {
      background-size: 20px 20px;
      width: 40px;
     height: 40px;
    }
  }