 .header__search_wrapper-form {
       display: flex;
       flex-direction: row;
       height: 48px;
       width: 598px;
 }

 @media screen and (max-width: 360px) {
       .header__search_wrapper-form {
             width: 328px;
             height: 46px;
       }
 }