  .header__search_wrapper-button {
    position: absolute;
    right: 1px;
    border: none;
    border-radius: 8px;
    background-color: rgba(72, 136, 255, 1);
    width: 78px;
    height: 40px;
    margin: 4px;
    cursor: pointer;
  }

  @media screen and (max-width: 360px) {
    .header__search_wrapper-button {
      color: rgba(72, 136, 255, 1);
      font-size: 1px;
      background-image: url(/image/magnifier.svg);
      background-repeat: no-repeat;
      background-position: center;
      right: -1px;
      bottom: -1px;
      width: 40px;
    }
  }