.popup__menu_items-list {
    display: flex;
    flex-direction: column;
}

.popup__menu_items-list a {
    font-family: 'Maza';
    font-size: 14px;
    color: rgba(52, 58, 63, 1);
    text-decoration: none;
    margin-bottom: 16px;
}

.popup__menu_items-list h3 {
    font-family: 'Maza';
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
    cursor: default;
}

.popup__menu_items-list a:hover {
    color: rgba(72, 136, 255, 1);
}