.top-bar__content_hour {
    color: rgba(52, 58, 63, 1);
    font-family: 'Maza';
    font-size: 14px;
}

    @media screen and (max-width: 360px) {
    .top-bar__content_hour {
      display: none;
    }
}