 .content__container {
     display: flex;
     flex-direction: column;
     gap: 26px;
     max-width: 729px;
     margin-left: 100px;
     margin-top: 84px;
 }

 @media screen and (max-width: 360px) {
     .content__container {
         margin: 32px 15px 0px 15px;
     }
 }