   .content__image {
       background-image: url(/image/gamepad.svg);
       background-size: 767px 706px;
       background-repeat: no-repeat;
       width: 767px;
       height: 706px;
   }

   @media screen and (max-width: 360px) {
    .content__image {
       background-size: contain;
        margin-left: 230px;
        width: 397px;
       height: 365px;
    }
}