 .header__menu_ul {
     width: 100%;
     list-style-type: none;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 18.5px;
     padding: 0;
     margin: 16px 0 0 0;
 }

    @media screen and (max-width: 360px) {
       .header__menu_ul {
          flex-direction: column;
          width: 90%;
          padding-left: 16px;
       }
   }